package arrow

import (
	"github.com/influxdata/arrow/memory"
)

// Numeric Array types
{{range .}}

type {{.Name}}Array struct {
	array
	values []{{.Type}}
}

func New{{.Name}}Array(data *ArrayData) *{{.Name}}Array {
	a := &{{.Name}}Array{}
	a.setData(data)
	return a
}

func (a *{{.Name}}Array) {{.Name}}Values() []{{.Type}} { return a.values }
func (a *{{.Name}}Array) Values() *memory.Buffer { return a.data.buffers[1] }

func (a *{{.Name}}Array) setData(data *ArrayData) {
	a.array.setData(data)
	vals := data.buffers[1]
	if vals != nil {
		a.values = {{.Name}}Traits{}.CastFromBytes(vals.Bytes())
	}
}
{{end}}