package arrow

{{range .}}
type {{.Name}}Type struct {}

func (t *{{.Name}}Type) ID() Type { return {{.Name|upcase}} }
func (t *{{.Name}}Type) Name() string { return "{{.Name|downcase}}" }


{{end}}

var (
        PrimitiveTypes = struct {
{{range .}}
                {{.Name}} DataType
{{- end}}
        }{
{{range .}}
                {{.Name}}: &{{.Name}}Type{},
{{- end}}
        }
)